body {
  margin: 0px;
}
.container {
  display: flex;
}
.sidebar {
  width: 250px;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 750px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  justify-content: space-between;
  align-items: center;
}
#im1 {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.navbar, .dashboard 
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-align: center;
}
.navbar a, .dashboard a 
{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: medium;
  color: rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(255, 244, 226);
  border-radius: 5px;
  text-align: center;
  display: block;
}
.dashboard {
 
  text-align: left; 
  margin-bottom: auto;
}

.dashboard h3 {
  margin: 20px 0 5px 0; 
  padding-left: 10px; 
  font-size: 18px;
  font-weight: bold;
  color:orange;
}

.dashboard {
  margin-bottom: auto;
}
.addcourse 
{
  background-color: rgb(240, 144, 0);
  font-size: medium;
  color: white;
  padding: 10px;
  border: none;
  width: 130px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
.addcourse:hover
{
  background-color: rgb(255, 195, 84);
  font-weight: bold ;
  color:black;
  box-shadow: 2px 5px 5px rgb(255, 214, 181);
}
.content {
  
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 760px;
  font-size: 35px ;
  color: orange;
}
