body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar img {
  width: 100%;
  margin-bottom: 20px;
}

details {
  background: #444;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

summary {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

summary::after {
  content: "▶";
  font-size: 14px;
}

details[open] summary::after 
{
  content: "▼";
}

.submenu 
{
  padding-left: 20px;
  padding-bottom: 5px;
}

.submenu a 
{
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}

.submenu a:hover 
{
  color: white;
}
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  
}
