body {
  margin: 0px;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: rgb(255, 255, 255);
  color: black;
  max-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  justify-content: space-between;
  align-items: center;
}

#im1 {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.navbar,
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-align: center;
}

.navbar {
  text-align: left;
  /* margin-bottom: auto; */
}
.navbar h3 {
  margin: 20px 0 5px 0;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
}

.navbar a,
.dashboard a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: medium;
  color: rgb(0, 0, 0);
  padding: 8px;
  background-color: rgb(255, 244, 226);
  border-radius: 5px;
  text-align: center;
  display: block;
}

.dashboard {
  text-align: left;
  margin-bottom: auto;
}

.dashboard h3 {
  margin: 20px 0 5px 0;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
}

.dashboard {
  margin-bottom: auto;
}

.addcourse {
  background-color: rgb(240, 144, 0);
  font-size: medium;
  color: white;
  padding: 10px;
  border: none;
  width: 130px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.addcourse:hover {
  background-color: rgb(255, 195, 84);
  font-weight: bold;
  color: black;
  box-shadow: 2px 5px 5px rgb(255, 214, 181);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  max-height: 100vh;
  font-size: 35px;
  color: orange;
  overflow: scroll;
}

.course-head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  top: 230px;
  z-index: 1;
  position:sticky;  
}
.course-head h3 {
  color: black;
  text-align: left;
  margin-left: 20px;
  display: inline;
}
.course-head button
{
  align-items: end;
  height: 40px;
  width: 140px;
  margin-top: 40px;
  margin-right:150px;
  background-color:rgb(255, 202, 104);
  border:none;
  border-radius:10px;
  font-size: medium;
}
.reshead button:hover, .course-head button:hover
{
  background-color: rgb(194, 109, 4);
  color:white;
  box-shadow: 2px 5px 5px grey;
  font-weight: 700;
}
.header-content {
  background-color: rgb(255, 244, 226);
  align-items: center;
  position: sticky;
  top: 0;
}

.header-content h1 {
  margin-bottom: 10px;
  height: fit-content;
}

.search-bar {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 20px;
  padding: 10px;
  width: 500px;
  height: fit-content;
  margin-bottom: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: white url("/public/search.svg") left no-repeat;
}

.courses {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto; 
  text-align: center;
}

.courses div {
  background-color: rgb(255, 244, 226);
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  width: 400px;
}